{
  "extends": "airbnb",

  "parser": "babel-eslint",

  "plugins": [
    "babel"
  ],

  "rules": {
    "semi": [2, "never"],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "default-case": 0,
    "no-unused-expressions": [2, {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "no-shadow": 0,
    "new-cap": 0,

    "react/jsx-closing-bracket-location": [1, "after-props"],
  },

  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
